# Ignore virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Django database
db.sqlite3

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor-specific files
.vscode/
.idea/
*.swp
